##################################################################################
#  File:        dell_fans.service                                                #
#  Description: systemd service file to run dell_fans.sh as a system service     #
#  Source:      https://github.com/w4b-zero/fan_dell_optiplex                    #
#  Author:      Werner Kallas (zero™)                                            #
#  Email:       w4b.zero@googlemail.com                                          #
#                                                                                #
#  tested HW:   DELL Optiplex 7020                                               #
#  tested OS:   Linux: Fedora 42                                                 #
#                                                                                #
#  inspired by: fan_control.sh from Jose Manuel Hernandez Farias                 #
#               https://github.com/KaltWulx/fan_dell_optiplex                    #
##################################################################################
##                                                                              ##
##  This program is free software; you can redistribute it and/or modify        ##
##  it under the terms of the GNU General Public License as published by        ##
##  the Free Software Foundation; either version 2 of the License, or           ##
##  (at your option) any later version.                                         ##
##                                                                              ##
##  This program is distributed in the hope that it will be useful,             ##
##  but WITHOUT ANY WARRANTY; without even the implied warranty of              ##
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.                        ##
##  See the GNU General Public License for more details.                        ##
##                                                                              ##
##  You should have received a copy of the GNU General Public License along     ##
##  with this program; if not, write to the Free Software Foundation, Inc.,     ##
##  59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.                    ##
##                                                                              ##
##################################################################################


[Unit]
Description=DELL fan control
ConditionVirtualization=no

[Service]
# -d = running as daemon (this parameter must set to run as service!)
# -D = debug mode (use this only for testing!)
# -V = verbose mode (use this only for testing!)
ExecStart=/usr/bin/dell_fans.sh -d -V
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

